<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Leonel Echeverria">
    <meta name="description" content="▷Desarrollo web, utilizando las ultimas tecnologias para una estetica y funcionalidad optima con los leguajes JavaScript, 
    HTML, CSS y PHP junto con los Frameworks JQuery y Bootstrap, 
    además del manejo de SQL Server.">
    <title>▷Software Developer</title>
</head>
<body>
    
   <h1>app</h1>
    

</body>
</html>